html
{
	position: fixed;
}

#canvas-div
{
	text-align: center;
}

canvas
{
	border: 1px solid black;
	background-color: rgb(220,220,220);	
}

img
{
	visibility: hidden;
}

p
{
	font-family: sans-serif;
	text-align: left;
}